.posts-container header{
    width: 100%;
    position: sticky;
    top: -50px;
    height: auto;
    transition: .3s;
    z-index: 1;
    
    background-color:var(--main-color2);
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    transition: .551s;
    opacity: 1;
    visibility: visible;
    color: var(--text2);
}
    header::before{
        position: absolute;
        content: "";
        bottom: 0px;
        height: 1px;
        z-index: 20;
        width: 100%;
        box-shadow:0 0 0 .3px inset var(--border-color2);
    }
.header_navigation{
    max-width: 1200px;
    width: 100%;
    height: 50px;
    border:none;      
    padding:0px 10px;
    display: flex;
    align-items: center;
    background-color: var(--main-color2);
    /* background-color: red; */
    justify-content: space-between;
}
 header .m-logo{
    /* width: fit-content; */
    height: 70%;
    box-shadow:0 0 0  .5px inset var(--border-color2);
    width: 100%;
    border-radius: 50px;
    padding:5px  10px 5px 8px;
    display: flex;
    align-items: center;
    background-color: var(--post-color2);
}
.a2 p{
    font-size: 15px;
    font-weight: 400;
}
.posts-container .a2{
    padding: 0px;
}
.sd-logo-container{
    width: 100%;
    overflow: hidden;
    height: 45px;
    /* background-color: red; */
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.sd-logo{
    width: fit-content;
    height:100%;
    border: 1px solid var(--border-color2);
    /* width: 100%; */
    border-radius: 50px;

    background-color: green;
    padding:5px  7.5px ;
    display: flex;
    align-items: center;
    background-color: var(--post-color2);
}
.sd-logo h2{
    font-size: 15px;
}
.sd-a1{
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url(../assets/images/svg/logo.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #4070f4;
}
.sd-a2{
    padding: 0px 5px 0px 7.5px;
}
.main_data_extractor .a1{
    aspect-ratio: 1/1 !important;
}
.set1{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}
.header_navigation .a1{
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
    aspect-ratio: 1/1 !important;
    background-color: #4070f4;
    width: auto !important;
}
.header_navigation .m-logo{
    box-shadow: none !important;
    background-color: var(--main-color2) !important;
    align-items: end !important;
    padding: 5px 0px !important;
}
.header_navigation .m-logo p{
    font-size: 18px !important;
    font-weight: bolder;
    line-height: 25px;
}
.set2{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 5px;
    padding: 7px 0px;
}
.profile-dp ,.notification{
    height: 100%;
    width: 36px;
    border-radius: 50%;
    box-shadow:0 0 0  .5px inset var(--border-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.notification-counter{
    position: absolute;
    padding: 2.5px 5px;
    font-size: 12px;
    height: 20px;
    border-radius: 10px;
    top: 0px;
    z-index: 10;
    width: fit-content;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    color: #fff;
    background-color: red;
}
.profile-dp:hover ,.notification:hover{
    background-color: var(--post-color2);
}
.profile-dp img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.notification svg{
    width: 60%;
    height: 60%;
    
}
.notification g{
    fill:var(--text2);
}
.set1 .l-logo{
    border-radius: 5px;
    height: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: .5px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    /* background-color: #2f80ed; */
}
.l-logo:hover{
    background-color: var(--post-color2);
}
.l-logo svg{
    aspect-ratio: 1/1;
    fill: var(--text2);
    width:  80%;
}
.l-logo g{
    fill: var(--text2);
}
.filter_posts{
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 5px;
    /* position: sticky; */
    top: 0px;
    overflow: scroll;
    z-index: 10;
    /* display: flex;
    justify-content: center; */
    /* background-color: var(--main-color2); */
    border-bottom: 0px solid var(--border-color2);
}
.filter_posts::-webkit-scrollbar{
    display: none;
}
.filter_holder{
    width: fit-content;
    height: 40px;
    /* margin: auto; */
}
.filter_select{
    height: 100%;
    width: fit-content;
    display: flex;
    padding:5px 10px ;
    gap: 10px;
    /* background-color: var(--main-color2); */
}
.filter_select .filter_option{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    position: relative;
    align-items: center;
    padding: 0px 10px;
    border-radius: 8px;
    width: fit-content;
    /* border: 1px solid var(--border-color2); */
    background-color: var(--main-color2);
    box-shadow:0 0 0  .5px inset var(--border-color2);
    background-position: center;
    transition: background 0.8s;
}
.filter_option .cm-rndr{
    height: 100%;
    /* width: 30px; */
    margin-right: 5px;
    /* background-color: green; */
    padding: 2.5px 0px;
}
.rndr-img{
    height: 100%;
    width: 25px;
    /* background-color: green; */
    background-color: var(--post-color2);
    border-radius: 50%;
    box-shadow:0 0 0  .2px inset var(--border-color2);
}
.ntfy-rndr{
    height: 20px;
    width: auto;
    border-radius: 10px;
    background-color: red;
    margin-left: 5px;
    min-width: 20px;
    font-size: small;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter_option::before{
    left: 0px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 2; */
}
.filter_option p{
    display: flex;
    text-wrap: nowrap;
    font-size: 13px;
    flex-wrap: nowrap;
    word-wrap: none;    
}
.filter_option:hover {
    background:rgba(225,225,225,.07) radial-gradient(circle, transparent 1%, rgba(225,225,225,.07) 1%) center/15000%;
  }
.filter_option:active {
    background-color:rgba(225, 255, 225, .07);
    background-size: 100%;
    transition: background 0s;
}
.filter_option.active{
    background-color: var(--blue);
    color: #fff;
}
.filter_option.active p{
    color: #fff;
}

