.posts-container,.posts-wrapper,.post-list,.posts-order-wrapper{
    width: 100%;
    position: relative;
    height: fit-content;
}
.posts-wrapper{
    padding: 0px;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    position: relative;
}
.post-list{
    max-width: 420px;
    width: 100%;

}
.posts-order-wrapper{
    width: 100%;
    height: auto;
}
.posts-order-wrapper .posts{
    width: 100%;
    height: fit-content;
    border-radius: 0px;
    background-color: var(--main-color2);
    /* margin: 10px 0px; */
    margin-top: 20px;
    /* background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%); */
    border-bottom: 1px solid var(--border-color2);
    color: var(--text2 );
    /* overflow: hidden; */
    /* outline: 5px solid rgba(225, 255, 225, .04); */
}
body.light .posts{
    /* box-shadow: 0px 0px 20px rgba(0,0,0,.05); */
}
.posts-order-wrapper .posts:hover{
    /* background-color: var(--post-color2); */
}
.post-contain{
    width: 100%;
    height: auto;
    padding: 15px 15px 10px 15px;
    padding: 0px;
}
.post-wrap{
    width: 100%;
    height: auto;
}
.pp-image{
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: .5px solid var(--border-color2);
    /* background-color: #4070f4; */
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pp-image img{
    width: 100%;
    height:100%;
    border-radius: 50%;
}
.nu-content{
    width: calc(100% - 50px);
    height: fit-content;
    padding-left: 10px;
}
.nu-content h4{
    font-size: 15px;
    font-weight: 500;
}
.post-body{
    padding: 5px 15px 10px 15px;
}
.nu-content .userName span{
    border-radius: 4px;
    /* margin-top: 5px; */
    /* font-family: "Bricolage Grotesque", sans-serif;  */
    background-color: transparent;
    border: 0px solid var(--border-color2);
    font-size: 14px;
    height: 20px;
    height: 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--span2);
    font-weight: 400;
    padding-left: 0px;
    /* font-family: "Sniglet", serif; */
}
.nu-content .profile-details{
    text-align: left;
}
.p-header-content{
    align-items: center;
    display: flex;
    padding: 10px 10px 5px 10px;
    /* border-bottom: .5px solid var(--border-color2); */
    /* background-color: var(--post-color2); */
    border-radius: 20px 20px 0px 0px;
}
.post-content{
    margin-top: 10px;
    font-size: medium;
}
body.light .psts_text{
    font-weight: 500;
    font-size: 14px;
}
.post-content img{
    width: 100%;
}
.posts-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
   padding: 0px 2.5px;

}
.post-name{
    font-size: 15px;
    font-weight: 600 ;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.posts-img img{
    max-width: 100%;
    width: auto;
    max-height: 400px;
    border-radius: inherit;
    border: 1.5px solid var(--border-color2);
    margin: auto;
}
.blog-video{
    max-width: 100%;
    width: auto;
    max-height: 400px;
    border-radius: inherit;
    border: 1.5px solid var(--border-color2);
    margin: auto;
    border-radius: 15px;
}
.posts-text-content{
    padding: 0px 0px 10px 0px;
}
.post-main-text{
    border: .1px solid var(--border-color2);
    border-radius:  15px 15px;
    background-color: var(--post-color2);
    padding: 10px;
    font-weight: 200;
    font-size: 15px;

}
.btm-nav-cvr{
    width: 100%;
}
.av-und-spc{
    height: 45px    ;
}
.post-reaction{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 5px;
    /* padding-top: 10px; */
}
.reaction-posts{
    height: 28px;
    display: flex;
    flex-wrap: nowrap;
    gap:10px;
    width: 100%;
    
}
.psts_text{
    text-wrap: wrap;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: none;
    white-space: pre-wrap;
}
body.light .psts_text{
    /* font-weight: 600; */
}
.svg-wrpr{
    width:20% ;
    border: 1px solid var(--border-color2);
    padding: 1.5px 4px;
    border-radius: 10px;
    font-size: small;
    background-color: var(--post-color2);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-position: center;
    transition: background 0.8s;
}
.svg-wrpr:hover ,.mre-svg-wrpr:hover{
    background:rgba(225,225,225,.07) radial-gradient(circle, transparent 1%, rgba(225,225,225,.07) 1%) center/15000%;
}
.svg-wrpr:active ,.mre-svg-wrpr:active{
    background-color:rgba(225, 255, 225, .07);
  background-size: 100%;
  transition: background 0s;
}
.wrpr-svgs:hover{
    background-color: transparent;
    background-size: 0%;
}
.svg-wrpr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.wrpr-svgs{
    border: none;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    gap: 10px;
}
.wrpr-svgs::before{
    display: none;
}
.reaction-posts svg{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mre-svg-wrpr{
    height: 100%;
    width: 50%;
    border: .5px solid var(--border-color2);
    border-radius: 10px;
    background-color: var(--main-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;
    transition: background 0.8s;
}
svg.stroke{
    stroke: #f4144c;
}
svg.fill{
    fill: #f4144c;
}
.comment-shit{
    
}
.like_btn:before,
.like_btn:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 10;
  background-repeat: no-repeat;
}
.post-head{
    position: relative;
}
.like_btn.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #f4144c 20%, transparent 30%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f4144c 15%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.like_btn.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f4144c 15%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%),
    radial-gradient(circle, #f4144c 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.add-comments{
    width: 100%;
    height:auto ;
    /* border: 1px solid var(--border-color2); */
    margin: 10px 0px 5px 0px;
    /* background-color: var(--main-color2); */
    padding-top: 10px;
    border-top: 1px solid var(--border-color2);

}

.comments_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.phto_wrapper{
    height: 40px;
    width: 40px;

}
.comment-inpur{
    width: calc(100% - 40px);
    display: flex;
    padding: 3px ;
}
.user_comments{
    width: 100%;
    height: 100%;
    /* background-color: #f4144c; */
    border-radius: 50%;
    display: flex;
    border: 1px solid var(--border-color2);
}
.user_comments img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.user_reply{
    width: 100%;
    height: 100%;
    /* background-color: #f4144c;
     */
     position: relative;
     border-radius: 15px ;
     /* border: 1px solid var(--border-color2); */
     /* background-color: var(--main-color2); */
}
.user_reply input{
    height: 100%;
    width: 100%;
    background-color: var(--main-color2);
}
.elipsis{
    width: fit-content;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: rgba(225, 255, 225, .07);
    /* background-color: red; */
}
.svg_elipsis{
    fill: var(--text2);
    height: 20px;
    height: 20px;
    stroke-width: 0;
}
.add-posts{
    width:50px;
    height: 50px;
    background-color: #4070f4;
    border-radius: 15px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateX(100%); */
    /* right: 20px; */
}
.btm-nav-cvr{
    /* border: 1px solid var(--border-color2); */
    padding-top: 10px   ;
}
.comments-container{
    width: 100%;
    padding: 15px;
    padding-bottom: 70px;

}
.comments-wrapper{
    width: 100%;
    padding-top: 10px;
    height: auto;
}
.comment{
    width: 100%;
    display: flex;
    height:fit-content;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    /* border-bottom: .5px solid var(--border-color2); */
}
.comment-dp{
    width: 40px;    
    /* height: 70px; */
    /* background-color: red; */
}
.comment-content{
    width: calc( 100% - 40px);
    padding-top: 5px;
    /* background-color: green; */
    height: auto;
}
.comments-user-photo{
    width: 100%;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--border-color2);
    padding: 1px;
}
.comments-user-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.co-cnt{
    width: 100%;
    /* background-color: red; */
    /* height: ; */
    padding-left: 10px;
    padding-top: 10px;
}
.co-cnt-data{
    width: 100%;
    /* height: 100px; */
    border-radius: 0px 15px 15px 15px;
    padding: 10px;

    background-color: var(--post-color2);
    border: .5px solid var(--border-color2);
}
.cnt-chld{
    /* background-color: var(--main-color2); */
    border-radius: inherit;
    /* border: inherit; */
    height: 100%;
    width: 100%;
}
.comment-content .post-name{
    font-size: 14px;
}
.snd-comment{
    position: absolute;
    width: 30px;
    top: 0px;
    height: 100%;
    right: 0px;
    /* background-color: red; */
    display: flex;
    padding: 5px;
    transition: .3s;
}
.snd-comment:hover{
    background-color: var(--post-color2);
    border-radius: 50%;
}
.snd-comment svg{
    height: 100%;
    width: 100%;    
}
.posts-container{
    min-height: 100vh;
    height: auto;
    position: relative;
}
.comment-handler{
    position:absolute;
    width: 100%;
    display: flex;
    height: 100vh;
    /* width: inherit; */
    /* background-color: red; */
    right: 0px;
    /* z-index: 10; */
    bottom: 0px;
    /* background-color: red; */
    top: 0px;
    /* display: none; */
    /* width: ; */
    /* top: calc( 100% - 50px); */
}
.comment-tst{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    /* background-color: green; */
    /* position: sticky; */
    /* bottom: calc( 100% - 50px); */
    z-index: 10;
}
.kk{
    max-width: 500px;
    height: 100%;
    width: 100%;
    /* background-color: #4070f4; */
}
.mobile-comment{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    z-index: 10;
    background-color: var(--main-color2);
    border-top: 1px solid var(--border-color2);
}
.mobile-comment .add-comments{
    padding: 0px;
    margin: 0px;
    border: none;
}
.userName {
    overflow: hidden;
    text-wrap: nowrap;
}
.no-comments{
    width: 100%;
    /* display:flex ;  */
    align-items: center;
    /* background-color: red; */
    background-color: var(--post-color2);
    border-radius: 15px;
    border: .5px solid var(--border-color2);
    padding: 15px;
    justify-content: center;
}
.no-comments h2 ,.no-comments p{
    text-align: center;

}
.no-comments p{
    font-size: 16px;
}
.no-comments button{
    display: block;
    margin: 10px auto;
    background-color: #4070f4;
    font-size: 13px;
    border-radius: 30px;
    padding: 10px 15px;
    border: none;
    outline: none;
}
.sp-hd{
    position: sticky;
    top:0px;
}
.btm-ssf{
    height: auto;
    display:flex;
    justify-content:center;
    padding-top: 10px;
}
.btm-ssf .spinner-4{
    width: 25px;
}
.more-psts-option{
    width: 200px;
    height: 300px;
    position: absolute;
    background-color: var(--post-color2);
    border: .5px solid var(--border-color2);
    border-radius: 15px ;
    right: 10px;
    top: 50px;
    z-index: 10;
    display: none;
}
.like_btn.liked svg{
    fill: #f4144c;
    stroke: none;
}
@media screen and (max-width:450px) {
    .posts-order-wrapper .posts{
        /* border: .751px solid var(--border-color2); */
    }
    .posts-img{
       padding: 5px;
    
    }
    .post-contain{
        /* padding: 12px 12px 8px 12px; */
    }
    .psts_text{
        font-weight: 500;
    }
}
@media screen and (max-width:380px) {
    .reaction-posts {
        gap: 5px;
    }
    .wrpr-svgs{
        gap: 5px;
    }
}

