.user_page_wrapper{
    width: 100%;
    height: fit-content;
    /* background-color: bisque; */
}
.nav_block_manager{
    width: 100%;
    height: 50px;
    /* background-color: black; */
}
.profile_data{
    width: 100%;
    height:  fit-content;
    
}
.profile_wrapper{
    width: 100%;
    height: 100%;
    /* padding: 10px; */
}
.cover_image{
    width: 100%;
    height: 150px;
    /* border-radius: 5px; */
    /* border:.51px solid var(--border-color2); */
    /* background-color: var(--post-color2); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    /* background-color: #4070f4; */
}
.cvr-img{
    width: 100%;
    height: 100%;
    /* border-radius: inherit; */
    /* background-image: linear-gradient(to right,blue ,purple); */
    background-color: #222;
    background-color: var(--post-color2);
    position: relative;
    display: flex;
    justify-content: center;
}
.profile_image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1.5px solid var(--border-color2);
    position: absolute;
    bottom:-60px;
    background-color: var(--main-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.profile-data-edit .profile_image{
    left: 20px;
}
.prf-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    
}
.profile-data-edit .prf-img{
    padding: 3px;
}
.profile_image img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    z-index: 2;
}
.comm-prf{
    left: 10px;
}
.profile-details-data{
    width: 100%;

}
.profile-patch{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 15px;
}
.profile-patch button{
    height: fit-content;
    padding: 3px 10px;
    background-color: var(--post-color2);
    color: var(--color);
    border: 1px solid var(--border-color2);
    border-radius: 20px;
}
.profile-mbl .profile-patch{
    height: 45px;
}
.profile-nml .profile-patch{
    height: 60px;
}
.profile-details{
    text-align: center;
    width: 100%;
}
.profile-details h2{
    line-height: 100%;
}
.userName{
    
    border-radius: 30px;
    
    
}
.userName span{
    /* padding: 0px 5px; */
    /* background-color: var(--post-color2); */
    /* border: 1px solid var(--border-color2); */
    color: var(--span2);
    display: inline-block;
    border-radius: 20px;
}
.profile-details span{
    font-size: 14px;
}
.user_e_dta{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 10px;
}
.user_engaugement{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
    border-radius: 20px;
    background-color: var(--post-color2);
}
.user-eng{
    height: 40px;
    /* width: 33.333%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    font-size: small;
}
.posts_profile{
    width: 100%;
    padding: 30px 0px 5px 0px;
    /* border-bottom:1px solid var(--border-color2); */

}
.posts_profile .filter_select{
    padding: 5px 0px;
}
.useromin{
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cvr-img .img{
    max-width: 100%;
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
    object-position: center;
    height: auto;
}
.mobile-comment{
     width: 100%;
     height: 60px;
     background-color: var(--post-color2);
     position: fixed;
     bottom: 0px;
     padding: 10px;
}
.comm-details{
    text-align: left;
    width: 100%;
    padding-left: 10px;
}
.commomin{
    font-size: 18px;
    justify-content: left;
}
.comm-bio {
    /* width: ; */
    display: flex;
    flex-wrap: wrap;
    padding:    0px 0px;
    height: auto;
    height: auto;
    font-size: 14px;
    word-wrap: break-word;
    /* border: .5px solid var(--border-color2); */
    border-radius: 5px;
    /* background-color: var(--post-color2); */
}
.comm-bio {
   
}
.profile-patch button.commmunity-inv{
    padding: 7.5px 20px;
    border-radius: 5px;
    background-color: #4070f4;
    font-size: 12px;
    color: #fff;
    border:none;
  }
.posts-container , .posts_profile , .posts-container{ 
    height: fit-content;
    min-height: auto !important;
}
.nu-content .profile-details{
    padding: 0px !important;
}
.posts_profile .filter_posts{ 
    /* border-top:.3px inset var(--border-color2); */
    border-bottom:.1px inset var(--border-color);
    padding: 5px 15px;
    /* position: sticky; */
    top: 0px;
    background-color: var(--main-color2);
    
}
.f-psts{
    color: var(--span2);
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}
.profile-data-edit{
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    height: 100vh;
    overflow-y: scroll;
    top: 0px;
    left: 0px;
    z-index: 300;
    bottom: 0px;
    background-color: var(--main-color2);
}
.profile-data-edit.active{
    visibility: visible;
    opacity: 1;
}
.profile-data-edit .cover-image{
    width: 100%;
    height: 200px;
    background-color: var(--post-color2);
}
.edit-pen{
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.7);
    border-radius: 50%;
    position: absolute;
    top:45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-pen2{
    /* top: 0px; */
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.7);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.edit-pen2 svg ,.edit-pen svg{
    width: 70%;
    height: 70%;
    fill: #fff;
}
.profile-data-edit form{
    margin: 80px 0px;
    padding: 0px 15px;
}
.profile-data-edit .password_wrapper {
    margin: 10px 0px;
}
.profile-data-edit .password_wrapper input {
    background-color: var(--main-color2);
    color: var(--text2);
}

.profile-data-edit .pp-wrp-bio{
    height: 100px;
    overflow: hidden;
}
.pp-wrp-bio textarea{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color:var(--main-color2);
    border: var(--border-color2);
    padding: 30px 10px 10px;
    resize: none;
}
.profile-data-edit .password_wrapper:has(textarea:focus){
    border: .7px solid #4070f4;
    background-color: var(--main-color2);
}
.p-edit-header{
    width: 100%;
    height: 45px;
    background-color: rgba(0,0,0,.5);
    position: sticky;
    top: 0px;
   
    z-index: 10;
    transition: .3s;
}
.p-edit-header{
    display: flex;
    padding: 0px 15px;
}
.arrow-back{
    height: 100%;
    width:45px ;
    padding: 5px;
}
.arw-bck-profile{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .3s;
}
.arw-bck-profile:hover{
    background-color: var(--post-color2);
}
.arw-bck-profile svg{
    width: 70%;
    height: 70%;
}
.mre-edata-con{
    width: calc(100% - 45px);
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mre-edata-con p{
    font-size: 17px;
}
.mre-edata-con button{
    background-color: var(--post-color2);
    color: var(--text2);
    padding: 7.5px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.cvr-img input[type="file"]{
    position: absolute;
    opacity: 0;
    z-index: -10;
}
.prf-img .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.bio-dtl{
    width: 100%;
    height: auto;
    padding: 10px 15px 0px;
    display: flex;
    justify-content: center;
}
.bio-dtl .bio{
    width: fit-content;
    max-width: 100%;
    position: relative;
    background-color: var(--post-color2);
    /* border: .5px solid var(--border-color2); */
    padding: 10px 15px;
    border-radius: 15px;
}
@media screen and (max-width:550px){
    .profile_image{
        width: 90px;
        height: 90px;
        margin: auto;
        /* transform: translateX(0px); */
        /* left:15px; */    
        bottom: -45px;
    }
    .profile-data-edit .profile_image{
        width: 110px;
        height: 110px;
        margin: auto;
        /* transform: translateX(0px); */
        /* left:15px; */    
        bottom: -55px;
    }
    /* .profile-details-data .profile-details{
        padding-left: 15px;
    }
    .profile-details{
        text-align: left;
        width: 100%;
    }
    .useromin{
        justify-content: left;
    } */
}

