.container-reels{
    width: 100%;
    height: (fit-content - 50px);
    min-height: 100vh;
    position: relative;
    background-color: var(--main-color2);
    z-index: 200;
    scroll-snap-type: y mandatory;
    height: calc(100vh - 50px);
    overflow: scroll;
    position: fixed;
    right: 0px;
    overflow-x: hidden;
}
.reels-container{
    width: 100%;
   
    height: fit-content;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* position: relative; */
    
}
.reels-wrapper{
    max-width: 450px;
    width: 100%;
    min-height: 100vh;
   position: relative;
    height: fit-content;
    /* padding-top: 20px; */
    /* display: flex; */
    flex-wrap: wrap;
   
}

.reels-holder{
    width: auto;
    height: calc(100vh);
    /* position: absolute; */
    border-radius: 10px;
    /* background-color: #0e1217; */
    margin: 0;
    display: flex;
    padding:0px;
    scroll-snap-align: start;
    /* margin-top: 10px; */
  
  text-align: center;
  scroll-snap-align: start;
  /* height: 100vh; */
  /* padding: 10px; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 40px;
  /* padding-top: 60px; */
  font-weight: bold;
}
.reels-hc{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-color:#000;   
    /* border-radius: 10px; */
    /* border: .5px solid var(--border-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    /* overflow: hidden; */
    
    
}
.post-name{
    /* text-shadow: 0px 0px 5px rgba(0,0,0,.8); */
}
div#loader{
    width: 100px;
    height: 20px;
    background-color: red;
    display: block;
    position: absolute;
    transform:translateY(-100%);
    z-index: 100;
}
.r-header{
    width: 100%;
    /* background-color: red; */
    height: 50px;
    position: absolute;
    top: 0px;
}
.r-footer{
    width: 100%;
    height: auto;
    bottom: 0px;
    padding: 10px 10px;
    position: absolute;
    background-image: linear-gradient(to bottom , transparent, rgba(0,0,0,.8));
}
.footer-r{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    
}
.r-body{
    position: absolute;
    right: -70px;
    height: 100%;
    bottom: 0px;
    width: 60px;
    /* background-color: red;   */
}
.r-user{
    width: 100%;
    display: flex;

}
.r-user-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--post-color2);
    border:.5px solid var(--border-color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-user-dtd{
    width: calc( 100% - 50px);
    /* height: ; */
    /* display: flex; */
    /* background-color: red; */
    padding-left: 10px;
    /* justify-content: center; */
    align-items: center;
}
.v-cnt{
    padding-top: 10px;
    text-align: left;
}
.vid-cnt{
    width: 100%;
    /* display: flex; */
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%    ;
    /* background-color: ;   */
}
.vdo-reel-hld{
    width: 100%;
    height:  calc( 100% - 50px);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.vid-cnt video{
    /* max-width: 100%; */
    width: 100%;
    max-width: 100%;
    max-height:  calc( 100% );
    margin: auto;
   /* align-self: center; */
    /* max-height: 100%; */
    /* border-radius: 10px; */
    height: calc( auto - 50px);
}
.tr-nav-cnt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    padding: 5px;
}
.tr-nav-data{
    width: 100%;
    /* background-color: rgba(0,0,0,.5); */
    height: auto;
}
.tr-nav{
    width: 100%;
    height: 50px;
    border-radius: 50%;
    /* background-color: rgba(0,0,0,.5); */
    
    /* border: .5px solid var(--border-color); */
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tr-nav svg{
    width: 25px;
    height: 25px;
    filter: drop-shadow(0px  0px 1px rgba(0,0,0,.5));
}
.tr-nav .like{
    fill-rule:evenodd;
    clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;
    stroke-width: 2;
    /* stroke: #f4144c; */
    fill: none;
}
.viewer-cancel{
    position: fixed;
    transform: translate( 15px ,15px);
    z-index: 10;
}
.trends-activity{
    /* max-width: 400px; */
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    position: absolute;
    margin-bottom: 15px;
}
.user-act{
    width: 100%;
    height: 50px;
    border-top: .5px solid var(--border-color2);
    background-color: rgba(0,0,0,.5);
    /* padding: 15px; */
    position: absolute;
    bottom: 0px;
    padding: 5px 15px;
}
.user-act .reaction-posts{
    display: flex;
    justify-content: center;
}
.user-act .post-reaction{
    margin: 0px;
    height: 100%;
}
.user-act .reaction-posts{
    height: 100%;
}
.user-act .post-act-action{
    width: auto;
}
.vl-cal{
    width: 100%;
    background-color: red;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
@media screen and (max-height: 600px){
    .reels-holder{
        border-radius: none;
        height: 100vh;
    }
    
}
@media screen and (max-width: 650px){
    .r-body{
        right: 0px;
    }
}
@media screen and (max-width: 450px){
    .reels-holder{
        /* height: calc(100vh - 50px); */
        /* padding: 60px 0px 0px; */
        border-radius: 0px;
    }
    .reels-hc{
        border-radius: 0px;
        
        border: 0px solid var(--border-color);
    }
    .vid-cnt video{
        /* height: calc( auto - 50px); */
        /* max-height:calc(100% - 50px); ; */
    }
}