.settings-page{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}
.st-cmptmt{
    width: 100%;
    padding: 10px 15px;
}
.settings-cmpt{
    width: 100%;
}
.cmpt-ttl{
    font-size: 16px;
    font-weight:300;
    margin: 10px 0px;
    color: var(--text2);
}
.cmpt-data{
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: var(--post-color2);
    padding: 10px;
}
.st-profile{
    width: 100%;
    height:70px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.settings-page .edit-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--post-color2);
}
.settings-page .edit-btn svg path{
    fill: var(--text2);
    
}
.settings-page .edit-btn svg{
    width: 60%;
}
.st-profile-dta{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}
.st-pimg{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.st-pun p{
    font-size: 15px;
    font-weight: 300;
}

.st-pun span{
    font-size: 14px;
    font-weight: 300;
    color: var(--span2);
}
    